<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <title>About</title>
    <link rel="icon" href="../img/weather.png">
</head>
<body>
    <h1>About Me</h1>
     {{>header}}
   
      {{>footer}}
    <img src="../img/vrush.jpeg">
     <h4>Hi! I’m Vrushti Mody</h4>
     <p>I do full stack web development, AI-ML, and am currently learning Node.js!</p>
</body>
</html>