<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Help</title>
     <link rel="icon" href="../img/weather.png">
</head>
<body>
    <h1>Help</h1>
    {{>header}}
     <h4>Stuck? Here are Few Tips</h4>
     <ul>
         <li>Try entering an exact location</li>
         <li>Try refreshing the page</li>
          <li>Go to Google :P</li>
     </ul>
    
     {{>footer}}
</body>
</html>